body {
  background-image: url(/images/space.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.header {
  background-image: url(/images/header.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height:400px;
}
.jumbotron {
  background-color: transparent;
  color: gold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cardDisplayRow{
  color:white;
}
.titleFaction{
  width:45%;
  margin:2%;
  float: left;
}
.factionImgIndex{
  width:80%;
}
.factionTitle {
  color: gold;
  font-size: 54px;
  font-weight: bold;
}
.factionTitleName {
  color: gold;
  font-size: 54px;
  font-style: italic;
  font-weight: bold;
}
.factionImgFaction {
  width: 45%;
}
.factionCards {
  color: gold;
  font-size: 42px;
}
.well {
  background-color: gray;
}
.navbar {
  background-color: black;
}
.form-group label{
  color: white;
}
.well h4 {
  color: gold;
}
#cardDisplayRow{
  color: white;
}
#addFactionButton {
  text-align: center;
  min-width: 200px;
  margin-top: 60px;
}
